<div id="<%= dom_id input_field %>">
  <p>
    <strong>Type:</strong>
    <%= input_field.type %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= input_field.form_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= input_field.data %>
  </p>

</div>
