<h1>Editing input field</h1>

<%= render "form", input_field: @input_field %>

<br>

<div>
  <%= link_to "Show this input field", @input_field %> |
  <%= link_to "Back to input fields", input_fields_path %>
</div>
