<p style="color: green"><%= notice %></p>

<%= render @answer %>

<div>
  <%= link_to "Back to answers", form_answers_path(@my_form) %>
  <%#= button_to "Destroy this answer", @answer, method: :delete %>
</div>
