<h1>Editing input field option</h1>

<%= render "form", input_field_option: @input_field_option %>

<br>

<div>
  <%= link_to "Show this input field option", @input_field_option %> |
  <%= link_to "Back to input field options", input_field_options_path %>
</div>
